*, html, body {
    margin: 0;
    padding: 0;
}

.header {
    width: 100vw;
    height: 20px;
    padding: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: dodgerblue;
}

.container {
    width: 100vw;
    height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}